<section
    class="bg-[#333] h-full mt-[10%] flex lg:flex-row flex-col gap-5 py-16 text-[#fff]"
>
    <div class="lg:w-[55%] pl-20">
        <img src="/Images/logo.png" class="w-[12rem] h-[5rem]"/>
        <h4 class="lg:w-[35rem] w-[80%] mt-[5%]">
            Crown-Hill University aims at promoting knowledge driven solutions
            through teaching, learning, research and character development
            driven by integrated information and communication technology
            facilities, linkages, and partnership with industries that will
            position the institution as the University for Enterprise Solutions.
        </h4>
    </div>
    <div class="lg:w-[20%] pl-20 lg:pl-0 relative">
        <h4 class="font-semibold text-xl">Useful Links</h4>
        <ul
            class="flex flex-col text-semibold opacity-[0.800000011920929] gap-[1.2rem] space-evenly mt-4"
        >
            <li>Admissions</li>
            <li>Tuition Fee</li>
            <li>Disclaimer</li>
            <li>Terms of Use</li>
            <li>Media Center</li>
        </ul>
    </div>
    <div class="lg:w-[25%] pl-20 lg:pl-0">
        <h4 class="font-semibold text-xl">Quick Contacts</h4>
        <ul
            class="flex flex-col text-semibold opacity-[0.800000011920929] gap-[1.2rem] space-evenly mt-4"
        >
            <li>+234(0) 901-594-2622</li>
            <li>info@crownhilluniversity.edu.ng</li>
            <li>Balla road, Eiyenkorin. Kwara State. Nigeria</li>
        </ul>
    </div>
</section>
