---
import Logo from "../../public/Images/logo.png";
import Icon from "astro-icon";
---

<section class="bg-[#fff] h-[12vh]">
    <div class="w-full h-full flex items-center justify-between px-10">
        <div>
            <img src={Logo} class="w-[10rem] h-[3rem]" />
        </div>
        <div>
            <ul class="flex w-full gap-5 text-[#333333] cursor-pointer">
                <li>Home</li>
                <li>About</li>
                <li class="flex items-center gap-1">
                    Academics
                    <Icon name="raphael:arrowdown" class="w-4 h-3" />
                </li>
                <li class="flex items-center gap-1">
                    Admissions
                    <Icon name="raphael:arrowdown" class="w-4 h-3" />
                </li>
                <li class="flex items-center gap-1">
                    Governance <Icon name="raphael:arrowdown" class="w-4 h-3" />
                </li>
                <li class="flex items-center gap-1">
                    Portal
                    <Icon name="raphael:arrowdown" class="w-4 h-3" />
                </li>
            </ul>
        </div>
    </div>
</section>
